<div id="<%= dom_id campaign %>">
  <p>
    <strong>Name:</strong>
    <%= campaign.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= campaign.status %>
  </p>

  <p>
    <strong>Accepting reviews:</strong>
    <%= campaign.accepting_reviews %>
  </p>

  <p>
    <strong>Accepting interviews:</strong>
    <%= campaign.accepting_interviews %>
  </p>

</div>
