<div id="<%= dom_id student_application %>">
  <p>
    <strong>Name:</strong>
    <%= student_application.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student_application.email %>
  </p>

  <p>
    <strong>Question1:</strong>
    <%= student_application.question1 %>
  </p>

  <p>
    <strong>Question2:</strong>
    <%= student_application.question2 %>
  </p>

  <p>
    <strong>Question3:</strong>
    <%= student_application.question3 %>
  </p>

  <p>
    <strong>Question4:</strong>
    <%= student_application.question4 %>
  </p>

  <p>
    <strong>Question5:</strong>
    <%= student_application.question5 %>
  </p>

  <p>
    <strong>Campaign:</strong>
    <%= student_application.campaign_id %>
  </p>

</div>
