<p style="color: green"><%= notice %></p>

<%= render @student_application %>

<div>
  <%= link_to "Edit this student application", edit_student_application_path(@student_application) %> |
  <%= link_to "Back to student applications", student_applications_path %>

  <%= button_to "Destroy this student application", @student_application, method: :delete %>
</div>
